{%  extends 'base.html' %}

{%block content%}
<div class="container shadow">
	<div class="row">
		<div class='col-7'></div>

		<div class='col-12 col-md-6 mt-5'>
			<div class="card">
			<div class="card-header">
			    <h1>Nova Postagemfuck</h1>
			  </div>
			  <div class="card-body">
			    <form method='POST' class='post-form'>{% csrf_token %}
					{{ form.as_p }}
					<button type='submit' class='bnt btn-primary'>Salvar</button>
				</form>
			  </div>
			</div>
		</div>

		<div class="col-3"></div>
	</div>
</div>
{%  endblock %}